@model SEA_Application.Models.Student_Assignment
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    var Mark =
               {
                   Id: '',
                   GotMark: '',
               };

    $(document).ready(function () {



        var subjectcookieval = null;
        var ClassCookie_AssignMarksval = null;
        var selectedAssignmentCookieVal=null;
        var allcookies = document.cookie;

        // Get all the cookies pairs in an array
        cookiearray = allcookies.split(';');

        // Now take key value pair out of this array
        for (var i = 0; i < cookiearray.length; i++) {
            name = cookiearray[i].split('=')[0];
            value = cookiearray[i].split('=')[1];

            console.log(cookiearray[i]);

            if (cookiearray[i].split('=')[0] == " ClassCookie_AssignMarks" || cookiearray[i].split('=')[0] == "ClassCookie_AssignMarks") {
                ClassCookie_AssignMarksval = cookiearray[i].split('=')[1];

            }

            if (cookiearray[i].split('=')[0] == " SubjectsCookie_AssignMarks" || cookiearray[i].split('=')[0] == "SubjectsCookie_AssignMarks") {
                subjectcookieval = cookiearray[i].split('=')[1];

            }
            if (cookiearray[i].split('=')[0] == " AssignmentCookie_AssignMarks" || cookiearray[i].split('=')[0] == "AssignmentCookie_AssignMarks") {
                selectedAssignmentCookieVal = cookiearray[i].split('=')[1];

            }
        }
        console.log("classval", ClassCookie_AssignMarksval);

        console.log("subval", subjectcookieval);
        if (ClassCookie_AssignMarksval != null && subjectcookieval != null) {

            var selectClass = document.getElementById('ClassID');
            selectClass.value = ClassCookie_AssignMarksval;

            $.get('@Url.Action("SubjectsByClass", "Teacher_Dashboard")',
                    { id: ClassCookie_AssignMarksval }, function (data) {
                        //alert(JSON.stringify(data));
                        $('#subjects').html('');
                        $('#subjects').prop('disabled', false);
                        $.each(data, function (i, item) {
                            $('#subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                        });
                        $.get('@Url.Action("AssignmentsBySubject", "Teacher_Dashboard")',
                            { id: subjectcookieval }, function (data) {

                                $('#assignment').html('');
                                $('#assignment').prop('disabled', false);
                                $.each(data, function (i, item) {
                                    $('#assignment').append('<option value=' + item.Id + '>' + item.Title + '</option>');
                                });
                                $('#save_marks').prop('disabled', false);
                                $('#AssignmentMarks').prop('disabled', false);
                                $('#Submit').prop('disabled', false);

                                $.get('@Url.Action("SubmissionByAssignment", "Teacher_Dashboard")',
                                    { id: selectedAssignmentCookieVal }, function (data) {

                                        $('#marks_table').html('');

                                        $.each(data, function (i, item) {
                                            var downloadfile = "";
                                            if (item.assignmentsubmission.Status == "Submitted") {
                                                downloadfile = '<a href="/Teacher_Dashboard/Student_Assignment_Submitted_File?id=' + item.assignmentsubmission.Id + '">Download File</a>';
                                            }
                                            else {
                                                downloadfile = '-/-';
                                            }
                                            var date;

                                            if (item.assignmentsubmission.Date == null) {
                                                date = '';
                                            }
                                            else {
                                                date = new Date(parseInt(item.assignmentsubmission.Date.replace(/(^.*\()|([+-].*$)/g, '')));
                                                date = date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear();
                                            }
                                            $('#marks_table').append('<tr id=' + item.assignmentsubmission.Id + '><td>' + item.Name + '</td><td>' + item.assignmentsubmission.Status + '</td><td>' + item.assignmentsubmission.SubmittedFileName + '</td><td>' + downloadfile + '</td><td>' + date + '</td><td><input type="text" class="form-control" id="GotMarks" value=' + item.assignmentsubmission.MarksGot + '></td></tr>');

                                        });


                                    });
                            });
                    });
        }




        $('#save_marks').click(function () {
            Marks = [];
            $('table tbody tr').each(function () {
                Mark = Object.create(Mark);
                Mark.Id = $(this).attr('id');
                Mark.GotMark = $('#GotMarks', this).val();
                Marks.push(Mark);

            });
            marks = JSON.stringify({ 'marks': Marks });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/Teacher_Dashboard/SaveAssignmentMarks',
                data: marks,
                success: function () {
                    alert('Marks Successfully Save');
                },
                failure: function (response) {
                    alert('Something went wrong');
                }
            });
        });
        $("#ClassID").click(function () {
            var selectedClass = $("#ClassID").val();
            document.cookie = "ClassCookie_AssignMarks=" + selectedClass + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/"; 
            $.get('@Url.Action("SubjectsByClass")',
                { id: selectedClass }, function (data) {

                    //alert(JSON.stringify(data));
                    $('#subjects').html('');
                    $('#subjects').prop('disabled', false);
                    $.each(data, function (i, item) {
                        $('#subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                    });

                });
        });
        $("#subjects").click(function () {
            var selectedSubject = $("#subjects").val();
            document.cookie = "SubjectsCookie_AssignMarks=" + selectedSubject + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
            $.get('@Url.Action("AssignmentsBySubject", "Teacher_Dashboard")',
                { id: selectedSubject }, function (data) {

                    $('#assignment').html('');
                    $('#assignment').prop('disabled', false);
                    $.each(data, function (i, item) {
                        $('#assignment').append('<option value=' + item.Id + '>' + item.Title + '</option>');
                    });



                });
        });

        $("#assignment").click(function () {
            var selectedAssignment = $("#assignment").val();
            document.cookie = "AssignmentCookie_AssignMarks=" + selectedAssignment + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";
            $('#save_marks').prop('disabled', false);
            $('#AssignmentMarks').prop('disabled', false);
            $('#Submit').prop('disabled', false);

            $.get('@Url.Action("SubmissionByAssignment", "Teacher_Dashboard")',
                { id: selectedAssignment }, function (data) {

                    $('#marks_table').html('');

                    $.each(data, function (i, item) {
                        var downloadfile = "";
                        if (item.assignmentsubmission.Status == "Submitted") {
                            downloadfile = '<a href="/Teacher_Dashboard/Student_Assignment_Submitted_File?id=' + item.assignmentsubmission.Id + '">Download File</a>';
                        }
                        else {
                            downloadfile = '-/-';
                        }
                        var date;

                        if (item.assignmentsubmission.Date == null) {
                            date = '';
                        }
                        else {
                            date = new Date(parseInt(item.assignmentsubmission.Date.replace(/(^.*\()|([+-].*$)/g, '')));
                            date = date.getMonth() + 1 + "/" + date.getDate() + "/" + date.getFullYear();
                        }
                        $('#marks_table').append('<tr id=' + item.assignmentsubmission.Id + '><td>' + item.Name + '</td><td>' + item.assignmentsubmission.Status + '</td><td>' + item.assignmentsubmission.SubmittedFileName + '</td><td>' + downloadfile + '</td><td>' + date + '</td><td><input type="text" class="form-control" id="GotMarks" value=' + item.assignmentsubmission.MarksGot + '></td></tr>');

                    });

                });
        });


    });

</script>
<div class="container">
@using (Html.BeginForm("AssignmentMarksFromFile", "Teacher_Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="col-md-8">
            @ViewBag.Error
                <div class="form-group">
                    <lable class="col-md-2 control-label"><b>Select Class</b></lable>
                    <div class="col-md-8">
                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    <label class="control-label col-md-2">Subjects</label>
                    <div class="col-md-8">
                        <select class="form-control" id="subjects" name="subjects" disabled></select>
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    <label class="control-label col-md-2">Assignment</label>
                    <div class="col-md-8">
                        <select class="form-control" id="assignment" name="assignment" disabled></select>
                    </div>
                </div>

        </div>
    </div>
    <div class="col-md-4">
       
            <center><h2>OR </h2></center>
            <div class="form-group">
                <br />
                <div class="control-label col-md-3"><b>Excel File</b></div>
                <div class="col-md-4">
                    <input id="AssignmentMarks" name="AssignmentMarks" type="file" disabled />
                </div>
            </div>
            <div class="form-group">
                <br />
               <div class="col-md-offset-2 col-md-10">
                   <input id="Submit" type="submit" onclick="return formSubmit();" value="Submit" class="btn btn-default" disabled />
               </div>
            </div>
     
    </div>
}
    <br />
    <hr />
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Student Name
                </th>
                <th>
                    Status
                </th>
                <th>
                    Submitted File Name
                </th>
                <th>
                    Download File
                </th>
                <th>
                    Submitted Date
                </th>
                <th>
                    Marks Got
                </th>
            </tr>
        </thead>
        <tbody id="marks_table"></tbody>
    </table>
    <button type="button" id="save_marks" class="btn btn-primary" disabled>Save</button>
</div>
