
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">

    var Mark =
               {
                   Id: '',
                   GotMark: '',
               };

    $(document).ready(function () {


        var subjectcookieval = null;
        var ClassCookie_ExamMarksval = null;
        var ExamCookie_ExamMarksval = null;
        var allcookies = document.cookie;

        // Get all the cookies pairs in an array
        cookiearray = allcookies.split(';');

        // Now take key value pair out of this array
        for (var i = 0; i < cookiearray.length; i++) {
            name = cookiearray[i].split('=')[0];
            value = cookiearray[i].split('=')[1];

            console.log(cookiearray[i]);

            if (cookiearray[i].split('=')[0] == " ClassCookie_ExamMarks" || cookiearray[i].split('=')[0] == "ClassCookie_ExamMarks") {
                ClassCookie_ExamMarksval = cookiearray[i].split('=')[1];

            }

            if (cookiearray[i].split('=')[0] == " SubjectsCookie_ExamMarks" || cookiearray[i].split('=')[0] == "SubjectsCookie_ExamMarks") {
                subjectcookieval = cookiearray[i].split('=')[1];

            }
            if (cookiearray[i].split('=')[0] == " ExamCookie_ExamMarks" || cookiearray[i].split('=')[0] == "ExamCookie_ExamMarks") {
                ExamCookie_ExamMarksval = cookiearray[i].split('=')[1];

            } 
        }
        console.log("classval", ClassCookie_ExamMarksval);

        console.log("subval", subjectcookieval);
        if (ClassCookie_ExamMarksval != null && subjectcookieval != null) {

            var selectClass = document.getElementById('ClassID');
            selectClass.value = ClassCookie_ExamMarksval;


            $.get('@Url.Action("SubjectsByClass")',
                    { id: ClassCookie_ExamMarksval }, function (data) {
                        //alert(JSON.stringify(data));
                        $('#subjects').html('');
                        $('#subjects').prop('disabled', false);
                        $.each(data, function (i, item) {
                            $('#subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                        });
                            $.get('@Url.Action("ExamsBySubject", "Teacher_Dashboard")',
                                { id: subjectcookieval }, function (data) {

                                    $('#exam').html('');
                                    $('#exam').prop('disabled', false);
                                    $.each(data, function (i, item) {
                                        $('#exam').append('<option value=' + item.Id + '>' + item.Title + '</option>');
                                    });

                                    var selectedExam = $("#exam").val();
                                    $('#save_marks').prop('disabled', false);
                                    $('#ExamMarks').prop('disabled', false);
                                    $('#Submit').prop('disabled', false);

                                    $.get('@Url.Action("SubmissionByExam", "Teacher_Dashboard")',
                                        { id: selectedExam }, function (data) {

                                            $('#marks_table').html('');

                                            $.each(data, function (i, item) {
                                                $('#marks_table').append('<tr id=' + item.exam.Id + '><td>' + item.Name + '</td><td><input type="text" class="form-control" id="GotMarks" value=' + item.exam.MarksGot + '></td></tr>');
                                            });

                                        });
                                });
                        });
        }






        $('#save_marks').click(function () {
            Marks = [];
            $('table tbody tr').each(function () {
                Mark = Object.create(Mark);
                Mark.Id = $(this).attr('id');
                Mark.GotMark = $('#GotMarks', this).val();
                Marks.push(Mark);

            });
            marks = JSON.stringify({ 'marks': Marks });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/Teacher_Dashboard/SaveExamMarks',
                data: marks,
                success: function () {
                    alert('Marks Successfully Save');
                },
                failure: function (response) {
                    alert('Something went wrong');
                }
            });
        });
        $("#ClassID").click(function () {
            var selectedClass = $("#ClassID").val();
            document.cookie = "ClassCookie_ExamMarks=" + selectedClass + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";

            $.get('@Url.Action("SubjectsByClass")',
                { id: selectedClass }, function (data) {

                    //alert(JSON.stringify(data));
                    $('#subjects').html('');
                    $('#subjects').prop('disabled', false);
                    $.each(data, function (i, item) {
                        $('#subjects').append('<option value=' + item.Id + '>' + item.SubjectName + '</option>');
                    });

                });
        });
        $("#subjects").click(function () {
            var selectedSubject = $("#subjects").val();
            document.cookie = "SubjectsCookie_ExamMarks=" + selectedSubject + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";

            $.get('@Url.Action("ExamsBySubject", "Teacher_Dashboard")',
                { id: selectedSubject }, function (data) {

                    $('#exam').html('');
                    $('#exam').prop('disabled', false);
                    $.each(data, function (i, item) {
                        $('#exam').append('<option value=' + item.Id + '>' + item.Title + '</option>');
                    });

                });
        });

        $("#exam").click(function () {
            var selectedExam = $("#exam").val();
            document.cookie = "ExamCookie_ExamMarks=" + selectedExam + ";expires=Thu, 2 Aug 2018 20:47:11 UTC; path=/";

            $('#save_marks').prop('disabled', false);
            $('#ExamMarks').prop('disabled', false);
            $('#Submit').prop('disabled', false);

            $.get('@Url.Action("SubmissionByExam", "Teacher_Dashboard")',
                { id: selectedExam }, function (data) {

                    $('#marks_table').html('');
                    
                    $.each(data, function (i, item) {
                        $('#marks_table').append('<tr id=' + item.exam.Id + '><td>' + item.Name + '</td><td><input type="text" class="form-control" id="GotMarks" value=' + item.exam.MarksGot + '></td></tr>');
                    });

                });
        });
    });

</script>
<div class="container">
    @using (Html.BeginForm("ExamMarksFromFile", "Teacher_Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="col-md-8">
                @ViewBag.Error
                <div class="form-group">
                    <lable class="col-md-2 control-label"><b>Select Class</b></lable>
                    <div class="col-md-8">
                        @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    <label class="control-label col-md-2">Subjects</label>
                    <div class="col-md-8">
                        <select class="form-control" id="subjects" name="subjects" disabled></select>
                    </div>
                </div>
                <div class="form-group">
                    <br />
                    <label class="control-label col-md-2">Exams</label>
                    <div class="col-md-8">
                        <select class="form-control" id="exam" name="exam" disabled></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">

            <center><h2>OR </h2></center>
            <div class="form-group">
                <br />
                <div class="control-label col-md-3"><b>Excel File</b></div>
                <div class="col-md-4">
                    <input id="ExamMarks" name="ExamMarks" type="file" disabled />
                </div>
            </div>
            <div class="form-group">
                <br />
                <div class="col-md-offset-2 col-md-10">
                    <input id="Submit" type="submit" onclick="return formSubmit();" value="Submit" class="btn btn-default" disabled />
                </div>
            </div>

        </div>
    }


    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Student Name
                </th>

                <th>
                    Marks Got
                </th>
            </tr>
        </thead>
        <tbody id="marks_table"></tbody>
    </table>
    <button type="button" id="save_marks" class="btn btn-primary" disabled>Save</button>
</div>
