@model SEA_Application.Models.AspNetAnnouncement

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Announcement</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.TextAreaFor(model => model.Description, 10, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>





        <div class="form-group">
            <label class="control-label col-md-2"> Choose Class</label>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-5">
                        <label class="control-label col-md-2">Class</label>
                    </div>
                    <div class="col-md-5">
                        <label class="control-label col-md-2">Subjects</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        @Html.ListBox("ClassID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-5">
                        <select multiple class="form-control" id="subjects" name="subjects"></select>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
                $(document).ready(function () {

                    $("#ClassID").change(function () {
                        var selectedClass = $("#ClassID").val();
                        $.ajax({
                            url: '@Url.Action("SubjectsByClass")',
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            traditional: true,
                            data: { bdoIds: selectedClass },

                        }).done(function (response) {
                            $('#subjects').html('');

                            $.each(response, function (i, item) {
                                var classname=$("#ClassID option[value='"+item.ClassID+"']").text()
                                $('#subjects').append('<option value=' + item.Id + '>' + item.SubjectName + ' ('+classname+')</option>');
                            });
                        })


                    });
                });
        </script>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
