@model SEA_Application.Models.AspNetSubject_Curriculum

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AspNetSubject_Curriculum</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WeightageValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightageValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetCurriculum.CurriculumName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetCurriculum.CurriculumName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetSubject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetSubject.SubjectName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
