@model SEA_Application.Models.AspNetStudent_Discount

@{
    ViewBag.Title = "Create";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    var StudentDiscount =
                {
                    StudentID: '',
                    DiscountID: '',
                    Percent: ''
                };
    studentdiscounts = [];
    $(document).ready(function () {

        $("#ClassID").click(function () {
            var selectedClass = $("#ClassID").val();
            $.get('@Url.Action("StudentsByClass","FeeManagement")',
                { id: selectedClass }, function (data) {
                    $('#StudentID').html(' ');
                    $.each(data, function (i, item) {
                        $("#StudentID").append('<option value=' + item.Id + '>' + item.Name + '</option>');
                       });

                });
        });

        $('#save_discount').click(function () {
            $('#dynamicTable tbody tr').each(function () {

                StudentDiscount = Object.create(StudentDiscount);
                StudentDiscount.StudentID = $('#StudentID').val();
                StudentDiscount.DiscountID = $('#DiscountID', this).val();
                StudentDiscount.Percent = $('#Percent', this).val();

                studentdiscounts.push(StudentDiscount);
            });

            student_discount = JSON.stringify({ 'student_discount': studentdiscounts });

            $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: '/AspNetStudent_Discount/AddStudent_Discount',
                data: student_discount,
                success: function () {
                    $('#partial').html('Attendance Successfully Save');
                },
                failure: function (response) {
                    $('#partial').html('Something went wrong');
                }
            });
        });
        $("#btnAdd").bind("click", function () {

            $("#student_discount_body").append(GetDynamicTextBox(""));
            $('#dynamicTable tr:last td:first').append($("#DiscountID").clone());
            $('#btnRemove').click(function () {
                $(this).closest('tr').remove();
            })
        });
    });
    function SomeDeleteRowFunction(btndel) {
        if (typeof (btndel) == "object") {
            $(btndel).closest("tr").remove();
        } else {
            return false;
        }
    }
    function GetDynamicTextBox(value) {
        var html = '<tr><td id="FeeType"></td><td><input type="text" id="Percent" class="form-control"></td><td><input type="button" class="btn btn-danger remove" value="Remove" onclick="SomeDeleteRowFunction(this);"></td></tr>';
        return html;
    }
</script>
<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>AspNetStudent_Discount</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Select Class</label>
            <div class="col-md-10">
                @Html.DropDownList("ClassID", null, htmlAttributes: new { @class = "form-control" })
               
            </div>
        </div>
       
        <div class="form-group">
            @Html.LabelFor(model => model.StudentID, "StudentID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <button id="btnAdd" type="button" class="btn btn-primary">Add Fee</button>
        </div>
        <table id="dynamicTable" class="table table-striped ">
            <tbody id="student_discount_body"></tbody>
        </table>
        <div class="form-group">
            <div class="col-md-10" hidden>
                @Html.DropDownList("DiscountID", null, htmlAttributes: new { @class = "form-control", @hidden = true })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" id="save_discount" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
