@model SEA_Application.Models.AspNetTest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AspNetTest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weightage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weightage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetClass.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetClass.ClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetSubject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetSubject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
